In [1]:
import csv

In [2]:
def csv_to_sql(csv_file, table_name):
    # Baca file CSV
    with open(csv_file, 'r') as file:
        csv_data = csv.reader(file)
        headers = next(csv_data)  # Ambil header

        # Buat query SQL CREATE TABLE
        create_table_query = f"CREATE TABLE {table_name} ("
        for header in headers:
            create_table_query += f"{header} TEXT,"
        create_table_query = create_table_query[:-1] + ");"

        # Buat query SQL INSERT
        insert_queries = []
        for row in csv_data:
            insert_query = f"INSERT INTO {table_name} VALUES ("
            for value in row:
                insert_query += f"'{value}',"
            insert_query = insert_query[:-1] + ");"
            insert_queries.append(insert_query)

    return create_table_query, insert_queries

In [3]:
def write_sql_file(create_table_query, insert_queries, sql_file):
    with open(sql_file, 'w') as file:
        # Tulis query CREATE TABLE ke file
        file.write(create_table_query + "\n\n")

        # Tulis query INSERT ke file
        for query in insert_queries:
            file.write(query + "\n")

In [4]:
if __name__ == "__main__":
    csv_file = "OnlineRetail.csv"  
    table_name = "OnlineRetail"    
    sql_file = "OnlineRetail.sql"   

    create_table_query, insert_queries = csv_to_sql(csv_file, table_name)
    write_sql_file(create_table_query, insert_queries, sql_file)